credentials.env
cogs/dev/__pycache__
cogs/errors/__pycache__
cogs/admin/__pycache__
cogs/help/__pycache__
cogs/utility/__pycache__
cogs/votetracker/__pycache__
cogs/banbattle/__pycache__
cogs/owo/__pycache__
cogs/dankmemer/__pycache__
cogs/autoreaction/__pycache__
cogs/mod/__pycache__
cogs/fun/__pycache__
cogs/messagetracking/__pycache__
cogs/automod/__pycache__
cogs/disboard/__pycache__
cogs/donations/__pycache__
cogs/giveaways/__pycache__
cogs/grinder/__pycache__
cogs/imgen/__pycache__
cogs/events/__pycache__
__pycache__
utils/__pycache__
databases/autoreactor.db 
databases/database.db 
databases/owo.db 
databases/votetracker.db
.idea
temp
chromedriver.exe
test.py
venv
/databases/*