aiohttp
asyncpg
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@fbb8803779373357e274e1540b368365fd9d8074
py-cord
inflect==6.0.0
pillow
python-dateutil
python-dotenv
typing-extensions
urllib3
wincertstore==0.2
yarl
more-itertools
typing
stemming
pytz
parsedatetime
filetype
stringcase==1.2.0
unidecode==1.3.4
Wand==0.6.8
captcha
stringcase==1.2.0
unidecode==1.3.4
Wand==0.6.8
expr.py
cryptography
requests